[submodule "spring"]
	path = spring
	url = https://github.com/jeemyeong/spring.git
[submodule "SpringInAction"]
	path = SpringInAction
	url = https://github.com/Jpub/SpringInAction.git
[submodule "petclinic-spring5-reactive"]
	path = petclinic-spring5-reactive
	url = https://github.com/ssouris/petclinic-spring5-reactive.git
[submodule "springboot2-reactive-kotlin"]
	path = springboot2-reactive-kotlin
	url = https://github.com/tginsberg/springboot2-reactive-kotlin.git
